@inherits LayoutComponentBase

<NavMenu />

<main class="container">
    @Body
</main>

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @* <div class="top-row px-4">
            <div class="input-group">
                <div class="form-outline">
                    <input id="serach-input" type="search" class="form-control"
                        placeholder="San Francisco, CA" @bind-value="_searchLoc" />
                    <label class="form-label" for="location">City, State</label>
                </div>
                <button id="search-button" type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div> *@

        @* <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    private string _searchLoc;

    private void Enter(){
        if(!string.IsNullOrWhiteSpace(_searchLoc)){

        }else{
            _searchLoc = "San Francisco, CA";
        }
    }
} *@

@*
<input id="location" class="form-control form-control-sm w-50 mx-auto mt-20"
    placeholder="City, State" @bind-value="_searchLoc" />
<button class="btn btn-secondary" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
</button>
*@
