@page "/logout"

@using System.Net.Http
@using System.Net.Http.Json
@using System.Net.Http.Headers
@using System.Threading.Tasks
@using System.Linq
@using System.Text.Json

@inject HttpClient Http
@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject IJSRuntime JSRuntime
@inject NavigationManager NavMan

@if(loading){
    <div class="parent container d-flex align-items-center justify-content-center h-100">
        <div class="child">
            <span class="spinner-border spinner-border-lg mr-1"></span>
        </div>
    </div>
}

@code{
    private bool loading;
    protected override async Task OnParametersSetAsync(){
        loading = true;
        await EndSession();
        loading = false;
    }
    private async Task EndSession(){
        string cookie = await JSRuntime.InvokeAsync<string>("blazorExtensions.AuthGet", "Authorization");
        try{
            string token = cookie.Substring(cookie.IndexOf(" ") + 1);
            var logoutRequest = new HttpRequestMessage(HttpMethod.Post, "logout");
            logoutRequest.Headers.Authorization = new AuthenticationHeaderValue("Token", token);
            await Http.SendAsync(logoutRequest);
        }catch(Exception){ }
        await JSRuntime.InvokeAsync<string>("blazorExtensions.AuthDelete", "Authorization");
        NavMan.NavigateTo("/");
    }
}
